<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./templated.css">
	<title>Bookstore titles</title>
</head>

<body>
	<div id="main">
		<h1>THE BOOKS</h1>
		<h3>Our bookstore offers the following titles:</h3>
		<div class="titles">
			<ul>
				<% rows.forEach((elem)=>{ %>
					<li>
						<%= elem.book_name %>
					</li>
					<% }); %>
			</ul>
			<button>
				<a href="http://localhost:3000/detailed">Detailed list</a>
			</button>
		</div>

		<div class="links">
			<form action="/detailed" method="GET">
				<fieldset class="categories">
					<legend>Categories</legend>
					<label><input type="checkbox" name="category" value="Computers">Computers</label>
					<label><input type="checkbox" name="category" value="Medical">Medical</label>
					<label><input type="checkbox" name="category" value="Nature">Nature</label>
					<label><input type="checkbox" name="category" value="Science">Science</label>
					<label><input type="checkbox" name="category" value="Technology">Technology</label>
				</fieldset>
				<fieldset class="publishers">
					<legend>Publishers</legend>
					<label><input type="checkbox" name="publisher" value="BPP Publication">BPP Publication</label>
					<label><input type="checkbox" name="publisher" value="Jex Max Publication">Jex Max Publication</label>
					<label><input type="checkbox" name="publisher" value="Mountain Publication">Mountain Publication</label>
					<label><input type="checkbox" name="publisher" value="New Harrold Publication">New Harrold Publication</label>
					<label><input type="checkbox" name="publisher" value="Novel Publisher Ltd.">Novel Publisher Ltd.</label>
					<label><input type="checkbox" name="publisher" value="Pieterson Grp. of Publishers">Pieterson Grp. of
						Publishers</label>
					<label><input type="checkbox" name="publisher" value="Summer Night Publication">Summer Night
						Publication</label>
					<label><input type="checkbox" name="publisher" value="Ultra Press Inc.">Ultra Press Inc.</label>
				</fieldset>
				<fieldset class="price-setter">
					<legend>Price-range setter</legend>
					<label for="plt">Books cheaper than</label>
					<input type="checkbox" id="pgt-box" onchange=enablePlt()>
					<input type="number" name="plt" id="plt" value="0" disabled>
					<label for="plt">Books cost more than</label>
					<input type="checkbox" id="pgt-box" onchange=enablePgt()>
					<input type="number" name="pgt" id="pgt" value="0" disabled>
				</fieldset>
				<fieldset id="filter-button">
					<button type="submit">Filter</button>
				</fieldset>
				<fieldset>
					<label for="narrow">Narrow filtering</label>
					<input type="checkbox" name="narrow" id="narrow" value="on">
				</fieldset>
			</form>
		</div>
</body>
<script src="./templated.js"></script>

</html>